body {
    margin: 0;
}
canvas{
    display: block;
}
.toggle-container{
    position:absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    background:rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
}
